@use '../util' as *;

.cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: rem(30);
	@include breakpoint(medium){
		flex-direction: row;
	}
}

.card {
	background: var(--dark-card);
	color: var(--dark-text1);
	padding: rem(25);
	border-radius: rem(5);
	text-align: center;
	flex:1;
	&--facebook {
		border-top: rem(5) solid var(--facebook);
	}
	&--instagram {
		border-top: rem(5) solid var(--instagram);
		
	}
	&--twitter {
		border-top: rem(5) solid var(--twitter);
		
	}
	&--youtube {
		border-top: rem(5) solid var(--youtube);
		
	}
	&__platform {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(28);
	}
	&__icon {
		margin-right: rem(8);
		&--facebook {

		}
		&--instagram {
			
		}
		&--twitter {
			
		}
		&--youtube {
			
		}
	}
	&__username {
		font-size: rem(12);

	}
	&__followers {
		margin-bottom: rem(25);
	}

	&__count {
		color: var(--light-bg);
		font-weight: 700;
		letter-spacing: rem(-2);
		line-height: 1;
		margin-bottom: rem(3); 
		&--big{
			font-size: rem(56);
		}
		&--small {

		}
	}
	&__label {
		font-size: rem(12);
		letter-spacing: rem(5);
		font-weight: 400;
		color: var(--dark-text1);
		text-transform: uppercase;
	}

	&__change {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size:rem(12);
		font-weight: 700;
		&--up {
			color: var(--limegreen);
		}

		&--down {
			color: var(--brightred);
		}
		img {
			margin-right: rem(4);
		}
	}
	&__number{
	}
}